/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

h1, h2, h3, h4, h5 {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #111111;
}